/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 10fr;
  min-width: 800px;
}

.back__btn {
  position: fixed;
  top: 0px;
  left: 0px;
  font-size: 30px;
  margin: 20px;
  padding: 10px;
  cursor: pointer;
  background-color: white;
  border-radius: 100%;
}

.header .header__nav ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 1.5fr repeat(5, 1fr);
  background-color: rgb(150, 150, 150);
  gap: 2px;
  border-bottom: 2px solid rgb(150, 150, 150);
}
.header .header__nav ul .header__tab {
  background-color: white;
  padding: 30px 0px;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
}
.header .header__nav ul .header__tab:nth-child(6) {
  font-weight: bold;
  font-size: 22px;
}
.header .header__breadcrumbs {
  border-bottom: 2px solid rgb(150, 150, 150);
  padding: 10px 0px;
  padding-left: 50px;
  font-size: 14px;
}
.header .header__breadcrumbs .header__crumb {
  font-weight: 600;
}
.header .header__breadcrumbs .header__crumb:last-child {
  opacity: 0.7;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  background-color: rgb(150, 150, 150);
  gap: 2px;
}
.product .product__img {
  background-image: url("https://source.unsplash.com/random?handsoap");
  background-size: cover;
  background-position: center;
}
.product .product__info {
  display: grid;
  grid-template-rows: 1.5fr 1fr;
  gap: 2px;
}
.product .product__info .product__header {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 50px;
  font-weight: 600;
}
.product .product__info .product__header .product__category {
  font-size: 22px;
  margin-bottom: 10px;
}
.product .product__info .product__header .product__title {
  font-size: 44px;
  margin-bottom: 50px;
}
.product .product__info .product__header .product__add-to-cart {
  display: flex;
  gap: 60px;
}
.product .product__info .product__header .product__add-to-cart .product__qty {
  font-size: 36px;
  gap: 10px;
}
.product .product__info .product__header .product__add-to-cart .product__qty .product__minus {
  opacity: 0.5;
}
.product .product__info .product__header .product__add-to-cart .product__price {
  font-size: 36px;
}
.product .product__info .product__footer {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(150, 150, 150);
  gap: 2px;
}
.product .product__info .product__footer > div {
  background-color: white;
}
.product .product__info .product__footer .product__description p {
  width: 70%;
  margin: 0 auto;
  padding: 50px 0px;
}
.product .product__info .product__footer .product__faq {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product .product__info .product__footer .product__faq .product__question {
  border-bottom: 2px solid rgb(150, 150, 150);
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  padding-bottom: 10px;
}/*# sourceMappingURL=project3.css.map */