/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.back__btn {
  position: fixed;
  top: 0px;
  left: 0px;
  font-size: 30px;
  margin: 20px;
  padding: 10px;
  cursor: pointer;
  background-color: white;
  border-radius: 100%;
}

body {
  height: 100vh;
  background-color: black;
  font-family: "Russo One", sans-serif;
}

.wrap {
  display: grid;
  grid-template-rows: 0.8fr 0.8fr 7fr;
  background-color: #F0F0F0;
  width: 80%;
  min-width: 700px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: flex-end;
  padding: 2% 7%;
  border-bottom: 1px solid #D9D9D9;
}
.header span {
  font-size: 2rem;
  font-weight: 800;
}

.design {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2% 7%;
}
.design .design__info {
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-content: center;
  align-items: center;
}
.design .design__info .design__info-title {
  font-size: 1rem;
}
.design .design__info .color {
  display: flex;
  gap: 7%;
  align-items: center;
}
.design .design__info .color .color__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.design .design__info .color .color__list .color__name {
  font-size: 0.7rem;
  color: rgb(138, 138, 138);
}
.design .design__info .color .color__list .color__palette {
  height: 20px;
  width: 20px;
  border-radius: 100%;
}
.design .design__info .color .color__list:first-child > span:nth-child(2) {
  background-color: #F0F0F0;
  border: 1px solid #000000;
}
.design .design__info .color .color__list:nth-child(2) > span:nth-child(2) {
  background-color: #000000;
}
.design .design__info .color .color__list:nth-child(3) > span:nth-child(2) {
  background-color: #01FF01;
}
.design .design__info .color .color__list:last-child > span:nth-child(2) {
  background-color: #D9D9D9;
}
.design .design__info .fonts {
  display: flex;
  justify-content: center;
}
.design .design__info .fonts .fonts__list {
  display: flex;
  width: 30%;
  flex-direction: column;
  gap: 10px;
}
.design .design__info .fonts .fonts__list span {
  font-weight: 800;
}
.design .design__info .fonts .fonts__list span:first-child {
  color: #D9D9D9;
  font-size: 0.7rem;
}
.design .design__info .fonts .fonts__list span:nth-child(2) {
  font-size: 0.7rem;
}
.design .design__info .fonts .fonts__list span:last-child {
  color: #D9D9D9;
  font-size: 0.5rem;
}

.main {
  height: 100%;
}
.main .main__wrap {
  width: 85%;
  min-width: 600px;
  border: 3px solid black;
  margin: 5% auto;
  background-color: #01FF01;
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  grid-template-rows: 30px minmax(400px, 600px) 30px;
  align-items: center;
}
.main .main__wrap .main__wrap-col {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.7rem;
  height: 100%;
  width: 100%;
  position: relative;
}
.main .main__wrap .main__wrap-col .page-text {
  position: absolute;
}
.main .main__wrap .main__wrap-col:nth-child(2) .page-text {
  animation: banner-animation-1 20s linear infinite;
}
.main .main__wrap .main__wrap-col:nth-child(4) {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.main .main__wrap .main__wrap-col:nth-child(4) .page-text {
  animation: banner-animation-2 20s linear infinite;
}
.main .main__wrap .main__wrap-col:nth-child(6) {
  writing-mode: vertical-lr;
}
.main .main__wrap .main__wrap-col:nth-child(6) .page-text {
  animation: banner-animation-2 20s linear infinite;
}
.main .main__wrap .main__wrap-col:nth-child(8) {
  transform: rotate(180deg);
}
.main .main__wrap .main__wrap-col:nth-child(8) .page-text {
  animation: banner-animation-1 20s linear infinite;
}
@keyframes banner-animation-1 {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes banner-animation-2 {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

.main__content {
  background-color: #D9D9D9;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  background-color: #000000;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.main__content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.main__content .main__content-top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  border: 1px solid black;
}
.main__content .main__content-top .top__title {
  font-size: 7rem;
  font-weight: 600;
  text-align: center;
}
.main__content .main__content-middle {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.main__content .main__content-middle .middle__left {
  display: grid;
  grid-template-rows: 1fr 3fr;
  border-left: 1px solid black;
}
.main__content .main__content-middle .middle__left .left__nav-wrap {
  display: flex;
}
.main__content .main__content-middle .middle__left .left__nav-wrap .nav {
  width: 100%;
  display: flex;
  align-items: center;
}
.main__content .main__content-middle .middle__left .left__nav-wrap .nav .nav__list {
  width: 100%;
  height: 100%;
  padding-left: 2%;
  display: flex;
  align-items: center;
  background-color: #D9D9D9;
  font-size: 1rem;
  border-right: 1px solid black;
}
.main__content .main__content-middle .middle__left .content__box-row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  background-color: #F0F0F0;
  border-top: 1px solid black;
}
.main__content .main__content-middle .middle__left .content__box-row .content__box1 {
  height: 100%;
  display: flex;
  align-items: center;
  border-right: 1px solid black;
}
.main__content .main__content-middle .middle__left .content__box-row .content__box1 .title__wrap {
  padding: 10px;
}
.main__content .main__content-middle .middle__left .content__box-row .content__box1 .title__wrap .content__box-title {
  font-size: 1rem;
}
.main__content .main__content-middle .middle__left .content__box-row .content__box1 .title__wrap .content__box-title:first-child {
  color: #000000;
}
.main__content .main__content-middle .middle__left .content__box-row .content__box1 .title__wrap .content__box-title:nth-child(2) {
  color: rgb(170, 170, 170);
}
.main__content .main__content-middle .middle__left .content__box-row .content__box-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #F0F0F0;
}
.main__content .main__content-middle .middle__left .content__box-row .content__box-wrap .content__box-img {
  padding: 10px;
  border-top: 1px solid black;
  border-right: 1px solid black;
}
.main__content .main__content-middle .middle__left .content__box-row .content__box-wrap .content__box-img .box-img {
  background-image: url("https://source.unsplash.com/random?art");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
.main__content .main__content-middle .middle__left .content__box-row .content__box2 {
  padding: 10px 10px 10px 5px;
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid black;
  border-right: 1px solid black;
}
.main__content .main__content-middle .middle__left .content__box-row .content__box2 .content__box-top {
  padding: 5%;
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
}
.main__content .main__content-middle .middle__left .content__box-row .content__box2 .content__box-bottom {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.main__content .main__content-middle .middle__left .content__box-row .content__box2 .content__box-bottom .content__box-title {
  font-size: 1rem;
  margin-bottom: 10%;
}
.main__content .main__content-middle .middle__left .content__box-row .content__box2 .content__box-bottom .content__box-text {
  font-size: 0.7rem;
}
.main__content .main__content-middle .middle__right {
  display: flex;
  padding: 10px;
  background-color: #F0F0F0;
  border-right: 1px solid black;
}
.main__content .main__content-middle .middle__right .content__box-img {
  background-color: #F0F0F0;
  width: 100%;
  height: 100%;
}
.main__content .main__content-middle .middle__right .content__box-img .box-img {
  background-image: url("https://source.unsplash.com/random?art");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
.main__content .main__content-bottom {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}
.main__content .main__content-bottom .content__box {
  display: flex;
  padding: 10px;
  background-color: #F0F0F0;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
}
.main__content .main__content-bottom .content__box .content__box-top {
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
}
.main__content .main__content-bottom .content__box .content__box-bottom {
  display: flex;
  flex-direction: column;
}
.main__content .main__content-bottom .content__box .content__box-bottom .content__box-title {
  margin-bottom: 5%;
}
.main__content .main__content-bottom .content__box .content__box-bottom .content__box-title .box-title {
  font-size: 1rem;
}
.main__content .main__content-bottom .content__box .content__box-bottom .content__box-title .box-title:nth-child(2) {
  color: rgb(170, 170, 170);
}
.main__content .main__content-bottom .content__box .content__box-bottom .content__box-text {
  font-size: 0.7rem;
}
.main__content .main__content-bottom .contact__box {
  background-color: #D9D9D9;
  border-top: 1px solid black;
}
.main__content .main__content-bottom .contact__box:nth-child(2) {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.main__content .main__content-bottom .contact__box:nth-child(2) .contact__box-top {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.main__content .main__content-bottom .contact__box:nth-child(2) .contact__box-bottom {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main__content .main__content-bottom .contact__box:nth-child(2) .contact__box-bottom .mail {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main__content .main__content-bottom .contact__box:nth-child(2) .contact__box-bottom .mail span:first-child {
  font-size: 0.7rem;
}
.main__content .main__content-bottom .contact__box:nth-child(2) .contact__box-bottom .mail span:nth-child(2) {
  font-size: 1rem;
}
.main__content .main__content-bottom .contact__box:nth-child(2) .stroke {
  width: 100%;
  border-top: 1px solid black;
}
.main__content .main__content-bottom .contact__box:nth-child(3) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.main__content .main__content-bottom .contact__box:nth-child(3) .contact__box-sns {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.main__content .main__content-bottom .contact__box:nth-child(3) .contact__box-sns .sns {
  padding: 10px;
}
.main__content .main__content-bottom .contact__box:nth-child(3) .contact__box-sns .stroke {
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="100%" y2="100%" stroke="black" /></svg>');
}/*# sourceMappingURL=project8.css.map */